:root {
  --clr-primary-Light-red: hsl(0, 100%, 67%);
  --clr-primary-Orangey-yellow: hsl(39, 100%, 56%);
  --clr-primary-Green-teal: hsl(166, 100%, 37%);
  --clr-primary-Cobalt-blue: hsl(234, 85%, 45%);

  --clr-neutral-White: hsl(0, 0%, 100%);
  --clr-neutral-Pale-blue: hsl(221, 100%, 96%);
  --clr-neutral-Light-lavender: hsl(241, 100%, 89%);
  --clr-neutral-Dark-gray-blue: hsl(224, 30%, 27%);

  /* Gradients */
    /* background */
  --Light-slate-blue: hsl(252, 100%, 67%);
  --Light-royal-blue: hsl(241, 81%, 54%);
    /* circle */
  --Violet-blue: hsla(256, 72%, 46%, 1);
  --Persian-blue: hsla(241, 72%, 46%, 0);

  --ff-base: 'Hanken Grotesk', sans-serif;
}

/* ---------- Reset ---------- */
*, *::before, *::after {box-sizing: border-box;}
* {margin: 0;padding: 0;}
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;}
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;}

/* ---------- Global ---------- */
html {
  font-size: 100%;
}

body {
  min-height: 100vh;
  font-family: var(--ff-base);
  background-color: var(--clr-neutral-Pale-blue);
}

a {
  text-decoration: none;
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0); 
  clip-path: inset(50%);
  height: 0.0625rem;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; 
  width: 0.0625rem;
}

/* ---------- Layout ---------- */
main {
  width: 100%;
}

.card {
  max-width: 46rem;
  background-color: var(--clr-neutral-White);
  margin: 0 auto;
}

.card-result {
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
  padding: 1.5rem 2.5rem 2.5rem;
  border-radius: 0 0 2rem 2rem;
}

.card__title {
  font-size: 1.125rem;
  text-align: center;
  margin-bottom: 1.5rem;
}

.card__title-result {
  color: var(--clr-neutral-Light-lavender);
}

.circle {
  width: 8.75rem;
  height: 8.75rem;
  background: linear-gradient(var(--Violet-blue), var(--Persian-blue));
  border-radius: 50%;
  font-weight: 700;
  margin: 0 auto 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.circle__result {
  color: var(--clr-neutral-White);
  font-size: 3rem;
  line-height: 1
}

.circle__resultOutOf {
  color: var(--clr-neutral-Light-lavender);
  opacity: .5;
}

.result__title {
  color: var(--clr-neutral-White);
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  margin-bottom: .5rem;
}

.result__description {
  color: var(--clr-neutral-Light-lavender);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
}

/* ---------- Summary card ---------- */
.card-summary {
  padding: 1.5rem 2rem 2rem;
}

.card__title-summary {
  color: var(--clr-neutral-Dark-gray-blue);
  text-align: left;
}

  /* ----- categories ----- */
.summary__category-wrapper {
  border-radius: .5rem;
  padding: .75rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.summary__category h3 {
  font-size: 1rem;
  font-weight: 700;
}

/* ----- Icon and category title -----  */
.summary__category {
  display: flex;
  justify-content: space-between;
  gap: .75rem;
}

  /* ----- Color and backgrounds ----- */
.reaction {
  color: var(--clr-primary-Light-red);
}

.bg-red {
  background-color: rgba(255, 87, 87, .1);
}

.memory {
  color: var(--clr-primary-Orangey-yellow);
}

.bg-yellow {
  background-color: rgba(255, 176, 31, .1);
}

.verbal {
  color: var(--clr-primary-Green-teal);
}

.bg-green {
  background-color: rgba(0, 189, 145, 0.1);
}

.visual {
  color: var(--clr-primary-Cobalt-blue);
}

.bg-blue {
  background-color: rgba(17, 37, 212, 0.1);
}

  /* ----- Numbers -----  */
.summary__number {
  color: var(--clr-neutral-Dark-gray-blue);
  font-weight: 800;
}

.summary__number span {
  opacity: .5;
}

  /* ----- Button -----  */
.summary__btn {
  display: block;
  width: 100%;
  background-color: hsl(224, 30%, 27%); /* Using the variable didn't work somehow */
  color: var(--clr-neutral-White);
  text-align: center;
  border-radius: 1.5rem;
  padding: .75rem;
  margin-top: .5rem;
  cursor: pointer;
}

.summary__btn:hover {
  transition: 250ms;
  background: linear-gradient(var(--Light-slate-blue), var(--Light-royal-blue));
}

/* ---------- Footer ---------- */
.attribution {
  font-size: 0.6875rem;
  text-align: center;
  margin: 2rem;
}

.attribution a {
  color: var(--clr-primary-Cobalt-blue);
  font-weight: 700;
}

.attribution a:hover {
  transition: 250ms;
  opacity: .7;
}

/* ---------- Responsiveness ---------- */
@media (min-width: 37.5rem) {
  body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .card {
    height: 32rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, .1);
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .card, .card-result {
    border-radius: 2rem;
  }

  .card-result {
    padding: 2.5rem 3.25rem;
  }

  .card-summary {
    padding: 2.5rem;
  }

  .card__title {
    font-size: 1.375rem;
    margin-bottom: 2rem;
  }

  .circle {
    width: 13rem;
    height: 13rem;
  }

  .circle__result {
    font-size: 4rem;
  }

  .result__title {
    font-size: 2rem;
  }

  .result__description {
    font-size: 1.125rem;
  }

  .summary__category-wrapper {
    padding: 1rem .75rem;
  }

  .summary__btn {
    padding: 1rem;
    margin-top: 2.5rem;
  }
}